<div class="container-fluid">
  <h1 class = "text-center mt-5" >Status Update App</h1>
</div>
<div class="container-fluid">
  <h2 class = "text-center mt-5">New Status Update</h2>
</div>
<%= render 'form' %>

